*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../Images/session_background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Title {  
    position: fixed;    
    top: 0;           
    left: 0;           
    width: 100%;     
    z-index: 1000;   
    text-align: center; 
    margin-top: 26px;
    padding: 10px 0;  
    background-color: transparent;
}  

h1 {  
    margin: 0; 
    font-size: 52px; 
    color: #984fff;  
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); 
}

.container {
    background-color: #f9f8ff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.729);
    padding: 20px;
    width: 1250px;
    height: 65vh;
    margin-top: 40px;
    text-align: center;
}

/* Progress bar styles */
.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 100px;
}

.step {
    font-size: 14px;
    color: #7b7b7b; 
    margin-bottom: 20px;
    font-weight: bold;
}

.progress {
    position: relative;
    width: 85%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: -30px;
}

.progress-fill {
    background: linear-gradient(to right, #75d0df, #984fff);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

/* Heading styles */
h2 {
    font-size: 28px;
    color: #333333;
    margin-bottom: 8px;
}

#question-text {
    font-family: 'Montserrat';
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bolder;
    margin-left: -30px;
}

.question-container{
    background-color: #f9eebe;
    border: 2px solid #fee989;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.168);
    padding: 20px;
    margin-left: 30px;
    margin-top: -20px;
    width: 1150px;
    height: 44vh;
    text-align: center;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex; 
    transition: all 0.5s ease;
    transition: transform 0.5s ease-in-out;
    overflow-x: auto; 
    white-space: nowrap;
    scrollbar-width: none;
}

.question-container::-webkit-scrollbar {
    display: none; 
}

.question-slide {  
    width: 100%;            /* Each question takes the full width of the container */
    height: 100%;           /* Makes sure the slide takes up the full height of the container */
    display: block;
    padding: 20px;
    flex: 0 0 100%;
    box-sizing: border-box;
}

.input-container{
    display:flex; 
    font-weight: bold; 
    margin-top:30px; 
}

.input-container.saved  {
    background-color: initial; /* change to any color you like */
    color: #00796b;
    border-color: #00796b;
}

.input-container.saved textarea {
    background-color: #d4edda; /* Ensure textarea remains white after saving */
    color: #00796b;
}

.input-container .tick-mark {
    color: green;
    font-size: 16px;
    visibility: hidden;
}

.input-container.saved .tick-mark {
    display: inline-block;
    visibility: visible;
}

.button-container {
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    margin-top: 20px;
    margin-right: 60px;
}

.save-button, .clear-button {
    background-color: #4ac8db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-bottom: 10px; /* Add space between the two buttons */
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.clear-button {
    background-color: #f68373;
}

.save-button:hover, .clear-button:hover {
    background-color: #00796b; /* Change to any color you prefer for hover */
}

textarea {
    flex: 1;
    width: 60%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 40px;
    margin-top: 10px;
    background-color: white;
}

textarea:focus {
    outline: none;
    border: 1px solid #4ac8db;
    box-shadow: 0px 0px 5px rgba(74, 200, 219, 0.5);
}

.navigation {
margin-top: 30px;
}

.previous-question {
    font-size: 14px;
    background: none;
    border: none;
    color: #984fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 430px;
}

.previous-question:hover {
    color: #2b6bb5;

}

.next-question {
    font-size: 14px;
    background: none;
    border: none;
    color: #984fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 430px;
}

.next-question:hover {
    color: #2b6bb5;

}

.button {
        display: flex;
        align-items: center;
        margin-left: 550px;
        margin-top: 75px;
    }
    
    .button a {
        background-color: #2b6bb5;
        padding: 8px 15px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        letter-spacing: 1.5px;
        display: inline-block;
        border-radius: 7px;
        margin-right: 20px;
    }

    .button a:hover {
        background-color: #4ac8db; 
        color: #fff; 
    }

    /* Style for the pop-up message */
    .popup {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 100;
    }

    .popup h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .popup button {
        background-color: #f5a8a4;
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }

    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    .popup button:hover {
        background-color: #f68373;
        border-radius: 5px; 
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 99;
    }

    .popup-container {
        display: flex;
        margin-left: 200px;
        gap: 15px; 
    }

    .cancel-button, .yes-button {
        width: 100px; 
        height: 40px; 
        text-align: center;
    }

    .popup.visible, .overlay.visible {
        display: block; 
    }
    
    .content.hidden {
        display: none; 
    }
    
    .content.visible {
        display: block; 
    }
    

/* Mobile responsiveness */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    .option {
        font-size: 14px;
        padding: 10px 15px;
    }
}